<div class="card card-outline-success m-t-40">
    <div class="card-header">
        <app-header-dropdown></app-header-dropdown>
        <h4 class="card-title m-b-0 text-white">ค้นหา</h4>
    </div>
    <div class="card-body">
        <form autocomplete="off" class="form-control-line form-horizontal"  #formBasic="ngForm" (ngSubmit)="onSearchByKey(formBasic.value)">
            <div class="row">
                <label for="" class="col-md-1 col-sm-2 control-label text-right">ค้นหา</label>
                <div class="col-md-5 col-sm-10">
                    <div class="form-group form-line">
                        <input type="search" id="" class="form-control form-control-line" name="keyword" ngModel>
                    </div>
                </div>
                <div class="col-md-2 text-center form-group">
                    <a href="javaScript:void(0);" (click)="slideToggle(advanceSearch)">ค้นหาขั้นสูง</a>
                </div>
                <div class="col-md-2 form-group">
                    <button type="submit" class="btn btn-block btn-success">
                        <i class="fa fa-search"></i>
                        ค้นหา
                    </button>
                </div>
                <div class="col-md-2 form-group">
                    <button type="reset" class="btn btn-block btn-secondary">
                        <i class="fa fa-close"></i>
                        เคลียร์
                    </button>
                </div>
            </div>
        </form>

        <br>

        <form autocomplete="off" class="form-control-line form-horizontal" #formAdv="ngForm" (ngSubmit)="onSearchByCon(formAdv.value)">
            <div style="display: none" #advanceSearch>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">รหัสความสัมพันธ์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input type="text" id="" name="relationId" ngModel class="form-control form-control-line" placeholder="">
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">ความสัมพันธ์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input type="text" id="" name="relationName" ngModel class="form-control form-control-line" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">วันที่เรียกใช้ข้อมูล :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group input-group">
                        <input type="text" class="form-control form-control-line" id="" name="eventDateTime" ngModel placeholder="วว/ดด/ปปปป" appDatepicker>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar-o fa-md"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">สถานะการใช้งาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input name="status" id="r1" name="isActive" ngModel value="1" type="radio" class="with-gap" />
                        <label for="r1"> ใช้งาน </label>

                        <input name="status" id="r2" name="isActive" ngModel value="0" type="radio" class="with-gap" />
                        <label for="r2"> ไม่ใช้งาน </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-sm-6"></div>

                    <div class="col-lg-2 col-sm-3 form-group">
                        <button class="btn btn-success btn-block waves-effect waves-light text-left" type="submit">
                            <span class="btn-label">
                                <i class="fa fa-check"></i>
                            </span>ตกลง
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-3 form-group">
                        <button class="btn btn-secondary btn-block waves-effect waves-light text-left" type="reset">
                            <span class="btn-label">
                                <i class="fa fa-close"></i>
                            </span>ยกเลิก
                        </button>
                    </div>
                </div>
            </div>
        </form>


    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="tableRelation" class="dataTable table table-sm table-striped">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>รหัสความสัมพันธ์</th>
                        <th>ความสัมพันธ์</th>
                        <th>สถานะการใช้งาน</th>
                        <th>วันที่เรียกใช้ข้อมูล</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listRelation; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{item.relationId}}</td>
                        <td>{{item.relationName}}</td>
                        <td class="text-center">
                            <i *ngIf="item.isActive == 1; else elseBlock" class="fa fa-check text-success"></i>
                            <ng-template #elseBlock>
                                <i class="fa fa-close text-danger"></i>
                            </ng-template>
                        </td>
                        <td>{{item.eventDateTime | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <a href="javaScript:void(0);" (click)="gotoEdit(item.relationId)">
                                <i class="fa fa-pencil fa-lg text-success"></i>
                            </a>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a href="javaScript:void(0);" (click)="gotoDelete(item.relationId)">
                                <i class="fa fa-trash fa-lg text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-action-add (click)="createNew()"></app-action-add>