/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
.navbar-header {
  height: 90px !important;
}

a {
  text-decoration: none !important;
}

.notice-list .row,
.notice-list .form-group {
margin-right: 0;
margin-left: 0;
}

.bg-dark-blue-custom {
background-color: rgba(6, 51, 121, 0.79);
color: #fff !important;
}

.card .header{
padding: 14px;
}

.card .header h2{
font-size: 16px !important;
}

.card .header .header-dropdown {
top:14px
}

.card .body [class*=col-] {
margin-bottom: 10px;
padding-left: 8px;
padding-right: 8px;
}

.t-6px{
  top:6px;
}
.r-8 {
  right: 8px;
}
.clear-m {
margin-bottom: 0 !important; 
}    
.clear-p {
padding: 0 !important;
}
.m-b-0{
  margin-bottom: 0;
}
.p-0{
  padding: 0;
}
.p-l-0{
  padding-left: 0 ;
}
.p-r-0{
  padding-right: 0 ; 
}
.p-r-8{
  padding-right: 8px;
}
.p-t-0{
  padding-top: 0;
}
.z-i-0{
  z-index: 0;
}



.datepicker-dropdown{
margin-top: 0 !important;
}

.toggle-popup-list {
 position: absolute;
 width: 30px;
 height: 20px;
 border-radius: 10px;
 background-color: #009688 !important;
 color: #fff !important;
 text-decoration: none !important;
 right: 0px;
 top: 12px;
}

.red-star {
 color: red !important;
}

.box-group-addon {
 width: 30px;
}

.box-group-addon>.red-star {
 right: 0px;
 position: absolute;
}


.row , .form-horizontal .form-group {
 margin-right: 0;
 margin-left: 0;
}

.row .input-group{
 margin-bottom: 0;
}

.list-tags {
 margin: 0;
 padding: 0;
 list-style: none;
}

.list-tags li {
 display: inline-block;
 padding: 3px 10px;
 background-color: #EEEEEE;
 color: #9E9E9E !important;
 border-radius: 10px;
 margin-right: 5px;
 margin-bottom: 10px;
}

.list-tags li a {
 color: #009688 !important;
 text-decoration: none !important;
}

.good-name-tag{
 padding: 4px;
}

.fixed-botton-bottom{
position:fixed;
bottom:0px;
}

.demo-checkbox label {
 top:8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: 13px !important;
}
::-moz-placeholder { /* Firefox 19+ */
font-size: 13px !important;
}
:-ms-input-placeholder { /* IE 10+ */
font-size: 13px !important;
}
:-moz-placeholder { /* Firefox 18- */
font-size: 13px !important;
}



/* Datatable */
.table .sort{
cursor: pointer;
background-image: url('../img/ic_arrow_drop_black_24px.svg');
background-repeat: no-repeat;
background-position: center right;
}

table tr label {
margin-bottom: 0px !important;
}


/* .arrow-drop {
position: relative;
top: -20px;
right: -27px;
} */
/*.arrow-drop .up, .arrow-drop .down{
position: relative;
}
.arrow-drop .up {
top: -4px;
left: 4px;
}
.arrow-drop .down{
top: 1px;
right: 20px;
} */


.paging_listbox_select {
padding: 4px 8px 4px !important;
border: 1px solid #E0E0E0 !important;
border-radius: 4px !important;
}


/* side bar */
.sidebar{
z-index: 91 !important;
}
.sidebar .menu .list .header {
  font-size: 14px;
}
/* end side bar */

/* navigation bar */
.navbar {
 z-index: 92 !important;
}
.bars{
top: 0px;
position: relative;
}

.navbar-brand img{
position:absolute; 
display: none;
}

.navbar-brand span {
position: relative;
left: 25%;
top: 10px;
}

.navbar-brand span.detail {
display: none;
}

@media screen and (max-width: 640px) {
  .card .body {
      padding: 20px 0;
  }
  
}

@media screen and (max-width: 991px) {
.pagination-select, .pagination-info {
    text-align: center;
}
}

@media screen and (min-width: 640px) {
.navbar-brand {
    position: absolute;
    left: 10%;
    height: 90px;
    top: 2px;
    line-height: 25px;      
}

.navbar-brand img{
    position:absolute; 
    display: none;
  }

.navbar-brand span {
    top: 0px;
    left: 0px;
  }

  .navbar-brand span.detail {
    display: block;
  }
}

@media screen and (min-width: 768px) {
.between-item{
  padding-left:0 !important;
}
}

@media screen and (min-width: 1169px) {
.navbar-brand {
    position: absolute;
    height: 90px;
    left: 80px;
    top: 2px;
    line-height: 25px;   
    width: 50%;   
}

.navbar-brand img{
    display: block;
    height: 80px; 
    position:absolute; 
    top: 3px;
  }

  .navbar-brand img{
    height: 80px; 
    position:absolute; 
    top: 3px;
  }

  .navbar-brand span {
    position: relative;
    left: 80px;
  }
}