<!-- breadcrumb -->
<ol class="breadcrumb breadcrumb-col-teal">
  <li>
    <a [routerLink]="['/investigate/notice']">1. งานสืบสวนข้อมูล</a>
  </li>
  <li class="active">
    <span>1.5 แจ้งความนำจับ</span>
  </li>
</ol>

<div class="card">
  <div class="header bg-teal">
    <h2>
      ค้นหา
    </h2>
  </div>
  <div class="body">
    <form action="" method="get">
      <div class="row">
        <label for="" class="col-md-1 form-control-label">ค้นหา :</label>
        <div class="col-md-5">
          <div class="form-group">
            <div class="form-line">
              <input type="search" id="" class="form-control form-control-sm" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <a href="javaScript:void(0);" (click)="slideToggle(advanceSearch)">ค้นหาขั้นสูง</a>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-sm btn-indigo-500 form-control">
            <i class="material-icons">search</i>
            ค้นหา</button>
        </div>
        <div class="col-md-2">
          <button type="reset" class="btn btn-sm btn-grey-500 bg-tael form-control">
            <i class="material-icons">close</i>
            เคลียร์</button>
        </div>
      </div>

      <br>

      <div style="display: none" #advanceSearch>
        <div class="row">
          <label for="" class="col-sm-2 form-control-label">วันที่รับแจ้งความ :</label>
          <div class="col-sm-2">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="" appDatepicker>
                <a class="icon-link" href="javaScript:void(0);">
                  <i class="material-icons">event</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="" appDatepicker>
                <a class="icon-link" href="javaScript:void(0);">
                  <i class="material-icons">event</i>
                </a>
              </div>
            </div>
          </div>

          <label for="" class="col-sm-2 form-control-label">สินค้า :</label>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="" class="col-sm-2 form-control-label">เลขที่บันทึกแจ้ง :</label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="">
              </div>
            </div>
          </div>
          <label for="" class="col-sm-2 form-control-label">ชื่อ(นามแฝง) ผู้แจ้ง :</label>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="" class="col-sm-2 form-control-label">หน่วยงาน :</label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="">
              </div>
            </div>
          </div>
          <label for="" class="col-sm-2 form-control-label">ชื่อผู้รับแจ้ง :</label>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control form-control-sm" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="card">
  <div class="header">
    <div class="body">
      <div class="row">
        <div class="col-sm-12">
          <table appDataTables class="dataTable table table-sm table-striped table-hover ">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>เลขที่</th>
                <th>หน่วยงาน</th>
                <th>วันที่รับแจ้งความ</th>
                <th>สินค้า</th>
                <th>ชื่อ(นามแฝง) ผู้แจ้ง</th>
                <th>ชื่อผู้รับแจ้ง</th>
                <th>สถานที่เกิดเหตุ</th>
                <th>ตำบล/อำเภอ/จังหวัด</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>3</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="create-new">
  <a [routerLink]="['/investigate/notice-manage']" [queryParams]="{C:true}">
    <i class="material-icons">close</i>
  </a>
</div>