<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <!-- <img src="images/user.png" width="48" height="48" alt="User" /> -->
            <i class="material-icons">account_circle</i>
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
            <div class="email">john.doe@example.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons">person</i>Profile</a>
                    </li>
                    <li role="seperator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons">input</i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->

    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active" [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['/']">
                    <i class="material-icons">home</i>
                    <span>หน้าแรก</span>
                </a>
            </li>
            <li [ngClass]="{active: activeRoute('investigate')}">
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">content_copy</i>
                    <span>1. งานสืบสวนข้อมูล</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a [routerLink]="['/investigate']">1.1 ผู้ต้องสงสัย</a>
                    </li>
                    <li>
                        <a [routerLink]="['/investigate']">1.2 รายงานการสืบสวน</a>
                    </li>
                    <li>
                        <a [routerLink]="['/investigate']">1.3 จัดทำหมายค้น</a>
                    </li>
                    <li>
                        <a [routerLink]="['/investigate']">1.4 ใบรับรองความบริสุทธิ์</a>
                    </li>
                    <li>
                        <a [routerLink]="['/investigate/notice']">1.5 ใบแจ้งความนำจับ</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- #Menu -->

    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2017 - 2018
            <a href="javascript:void(0);">AdminBSB - Material Design</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>