<div class="action-setting">
  <button type="button" class="btn btn-circle btn-lg btn-success" (click)="slideToggle($event)">
    <i class="ti-settings"></i>
  </button>

  <ul #tools class="tools">
    <li>
      <a href="javaScript:void(0);" (click)="edit()">
        <i class="ti-pencil-alt"></i>
      </a>
    </li>
    <li>
      <a href="javaScript:void(0);" (click)="print()">
        <i class="ti-printer"></i>
      </a>
    </li>
    <li>
      <a href="javaScript:void(0);" (click)="delete()">
        <i class="ti-trash"></i>
      </a>
    </li>
  </ul>
</div>