.selectize-input {
    width: 100% !important;
    position: relative !important;
    border: unset !important;
    border-radius: unset !important;
    border-bottom: 1px solid #ddd !important;
    padding: 6px 0px !important;
}

.selectize-input.focus {
    box-shadow: unset !important;
    
}