<div class="card card-outline-success m-t-40">
    <div class="card-header">
        <app-header-dropdown></app-header-dropdown>
        <h4 class="card-title m-b-0 text-white">ค้นหา</h4>
    </div>
    <div class="card-body">
        <form autocomplete="off" class="form-control-line form-horizontal" #formBasic="ngForm" (ngSubmit)="onSearchByKey(formBasic.value)">
            <div class="row">
                <label for="" class="col-md-1 col-sm-2 control-label text-right">ค้นหา</label>
                <div class="col-md-5 col-sm-10">
                    <div class="form-group form-line">
                        <input type="search" id="" name="keyword" ngModel class="form-control form-control-line" placeholder="">
                    </div>
                </div>
                <div class="col-md-2 text-center form-group">
                    <a href="javaScript:void(0);" (click)="slideToggle(advanceSearch)">ค้นหาขั้นสูง</a>
                </div>
                <div class="col-md-2 form-group">
                    <button type="submit" class="btn btn-block btn-success">
                        <i class="fa fa-search"></i>
                        ค้นหา</button>
                </div>
                <div class="col-md-2 form-group">
                    <button type="reset" class="btn btn-block btn-secondary">
                        <i class="fa fa-close"></i>
                        เคลียร์</button>
                </div>
            </div>

            <br>

        </form>
        <form autocomplete="off" class="form-control-line form-horizontal" #formAdv="ngForm" (ngSubmit)="onSearchByCon(formAdv.value)">
            <div style="display: none" #advanceSearch>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">รหัสศาสนา :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input type="text" id="" name="religionId" ngModel class="form-control form-control-line" placeholder="">
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">ชื่อศาสนา(TH) :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input type="text" id="" name="religionNameTh" ngModel class="form-control form-control-line" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">วันที่เรียกใช้ข้อมูล :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group input-group">
                        <input type="date" class="form-control form-control-line" id="" name="eventDatetime" ngModel placeholder="วว/ดด/ปปปป">
                        <!-- <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar-o fa-md"></i>
                            </span>
                        </div> -->
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">ชื่อศาสนา(EN) :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input type="text" id="" name="religionNameEn" ngModel class="form-control form-control-line" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label text-right">สถานะการใช้งาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                        <input id="r1" type="radio" name="isActive" value=1 ngModel class="with-gap" />
                        <label for="r1"> ใช้งาน </label>

                        <input id="r2" type="radio" name="isActive" value=0 ngModel class="with-gap" />
                        <label for="r2"> ไม่ใช้งาน </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-sm-6"></div>

                    <div class="col-lg-2 col-sm-3 form-group">
                        <button class="btn btn-success btn-block waves-effect waves-light text-left" type="submit">
                            <span class="btn-label">
                                <i class="fa fa-check"></i>
                            </span>ตกลง</button>
                    </div>
                    <div class="col-lg-2 col-sm-3 form-group">
                        <button class="btn btn-secondary btn-block waves-effect waves-light text-left" type="button">
                            <span class="btn-label">
                                <i class="fa fa-close"></i>
                            </span>ยกเลิก</button>
                    </div>
                </div>
            </div>
        </form>


    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="religion" class="dataTable table table-sm table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>รหัสศาสนา</th>
                        <th>ชื่อศาสนา(TH)</th>
                        <th>ชื่อศาสนา(EN)</th>
                        <th>สถานะการใช้งาน</th>
                        <th>วันที่เรียกใช้งาน</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listReligion; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{item.religionId}}</td>
                        <td>{{item.religionNameTh}}</td>
                        <td>{{item.religionNameEn}}</td>
                        <td class="text-center">
                            <i *ngIf="item.isActive == 1; else elseBlock" class="fa fa-check fa-lg text-success"></i>
                            <ng-template #elseBlock>
                                <i class="fa fa-close fa-lg text-danger"></i>
                            </ng-template>

                        </td>
                        <td>{{item.eventDatetime | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <a href="javaScript:void(0);" (click)="gotoEdit(item.religionId)">
                                <i class="fa fa-pencil fa-lg text-success"></i>
                            </a>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a href="javaScript:void(0);" (click)="gotoDelete(item.religionId)">
                                <i class="fa fa-trash fa-lg text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-action-add (click)="createNew()"></app-action-add>