<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">รายงานการสืบส่วน</h4>
  </div>
  <div class="card-body">
    <form action="" class="form-control-line form-horizontal">

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">เลขที่งาน :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">วันที่รายงาน :</label>
        <div class="form-group input-group form-line col-lg-4 col-md-7">
          <input type="text" class="form-control form-control-line" id="" placeholder="วว/ดด/ปปปป" appDatepicker>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="mdi mdi-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">คดีสืบสวนที่ :</label>
        <div class="col-lg-4 col-md-7 form-group input-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
          <label for="">&nbsp;&nbsp; / &nbsp;&nbsp;</label>
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">แบบ สส. ครั้งที่ :</label>
        <div class="form-group form-line col-lg-4 col-md-7">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ผู้สืบสวน :</label>
        <div class="col-lg-4 col-md-7 form-group input-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
          <button type="button" class="btn btn-xs btn-rounded btn-success">
            <i class="ti-more-alt"></i>
          </button>
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">ผู้สั่งการให้สืบสวน :</label>
        <div class="col-lg-4 col-md-7 form-group input-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
          <button type="button" class="btn btn-xs btn-rounded btn-success">
            <i class="ti-more-alt"></i>
          </button>
        </div>
      </div>

      <div class="row">

        <label for="" class="col-lg-2 col-md-3 control-label">ตำแหน่ง :</label>
        <div class="form-group form-line col-lg-4 col-md-7">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">ตำแหน่ง :</label>
        <div class="form-group form-line col-lg-4 col-md-7">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

    </form>
  </div>
</div>

<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">ข้อมูลสืบส่วน</h4>
  </div>
  <div class="card-body">
    <form action="" class="form-control-line form-horizontal">
      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">สินค้า :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <div class="form-group col-lg-6 col-md-12">
          <ul class="checkbox-inline">
            <li>
              <input type="checkbox" class="check" id="square-checkbox-1" data-checkbox="checkbox_square-green">
              <label for="square-checkbox-1">สินค้าชนิดที่ 1</label>
            </li>
            <li>
              <input type="checkbox" class="check" id="square-checkbox-2" data-checkbox="checkbox_square-green">
              <label for="square-checkbox-2">สินค้าชนิดที่ 2</label>
            </li>
            <li>
              <input type="checkbox" class="check" id="square-checkbox-3" data-checkbox="checkbox_square-green">
              <label for="square-checkbox-3">สินค้าชนิดที่ 3</label>
            </li>
            <li>
              <input type="checkbox" class="check" id="square-checkbox-4" data-checkbox="checkbox_square-green">
              <label for="square-checkbox-4">สินค้าชนิดที่ 4</label>
            </li>
            <li>
              <input type="checkbox" class="check" id="square-checkbox-5" data-checkbox="checkbox_square-green">
              <label for="square-checkbox-5">สินค้าชนิดที่ 5</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">วันที่เริ่มสืบสวน :</label>
        <div class="form-group input-group form-line col-lg-4 col-md-7">
          <input type="text" class="form-control form-control-line" id="" placeholder="วว/ดด/ปปปป" appDatepicker>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="mdi mdi-calendar"></i>
            </span>
          </div>

          <label for="" class="">&nbsp; เวลา : &nbsp;</label>
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">วันที่สินสุดการสืบสวน :</label>
        <div class="form-group input-group form-line col-lg-4 col-md-7">
          <input type="text" class="form-control form-control-line" id="" placeholder="วว/ดด/ปปปป" appDatepicker>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="mdi mdi-calendar"></i>
            </span>
          </div>

          <label for="" class="">&nbsp; เวลา : &nbsp;</label>
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">มาตราความเชื่อมั่นของแหล่งข่าว :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <select name="" id="" class="form-control form-control-line" appSelectize>
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ค่าของเนื้อข่าว :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <select name="" id="" class="form-control form-control-line" appSelectize>
            <option value="" selected disabled></option>
          </select>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">สถานที่ทำการสืบสวน</h4>
  </div>
  <div class="card-body">
    <form action="" class="form-control-line form-horizontal">
      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ละติจูด :</label>
        <div class="col-lg-4 col-md-7">
          <div class="form-group form-line">
            <input type="text" name="" id="" class="form-control form-control-line">
          </div>
        </div>
        <label for="" class="col-lg-2 col-md-3 control-label">ลองติจูด :</label>
        <div class="col-lg-4 col-md-7">
          <div class="form-group form-line">
            <input type="text" name="" id="" class="form-control form-control-line">
          </div>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">บ้านเลขที่ :</label>
        <div class="form-group input-group form-line col-lg-4 col-md-7">
          <input type="text" class="form-control form-control-line">
          <label for="">&nbsp;หมู่ที่ : &nbsp;</label>
          <input type="text" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">อาคาร/สถานที่ :</label>
        <div class="col-lg-4 col-md-7">
          <div class="form-group form-line">
            <input type="text" class="form-control form-control-line">
          </div>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ห้อง :</label>
        <div class="form-group input-group form-line col-lg-4 col-md-7">
          <input type="text" class="form-control form-control-line">
          <label for="">&nbsp;&nbsp; ชั้น : &nbsp;&nbsp;</label>
          <input type="text" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-2 col-md-3 control-label">ตรอก/ซอย :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <input type="text" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ถนน :</label>
        <div class="col-lg-4 col-md-7">
          <div class="form-group form-line">
            <input type="text" name="" id="" class="form-control form-control-line">
          </div>
        </div>
        <label for="" class="col-lg-2 col-md-3 control-label">ตำบล/อำเภอ/จังหวัด :</label>
        <div class="col-lg-4 col-md-7 form-group form-line">
          <select name="" id="" class="form-control form-control-line" appProvinces></select>
        </div>
      </div>

      <div class="row">
          <label for="" class="col-lg-2 col-md-3 control-label">รหัสไปรษณีย์ :</label>
          <div class="col-lg-4 col-md-7">
            <div class="form-group form-line">
              <input type="text" name="" id="" class="form-control form-control-line">
            </div>
          </div>
          <label for="" class="col-lg-2 col-md-3 control-label">โทรศัพท์ :</label>
          <div class="col-lg-4 col-md-7 form-group form-line">
              <input type="text" name="" id="" class="form-control form-control-line">
          </div>
        </div>
      <!-- <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ละติจูด :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-1 col-md-3 control-label">ลองติจูด :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">เลขที่ :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-1 col-md-3 control-label">หมู่ที่ :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">อาคาร/สถานที่ :</label>
        <div class="col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ตรอก/ซอย :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>

        <label for="" class="col-lg-1 col-md-3 control-label">ถนน :</label>
        <div class="col-lg-3 col-md-7 form-group form-line">
          <input type="text" name="" id="" class="form-control form-control-line">
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label">ตำบล/อำเภอ/จังหวัด :</label>
        <div class="col-md-7 form-group form-line">
            <select name="" id="" class="form-control form-control-line" appProvinces></select>
        </div>
      </div>

      <div class="row">
        <label for="" class="col-lg-2 col-md-3 control-label"></label>
        <div class="col-md-7 form-group form-line">
          <textarea name="" id="" class="form-control form-control-line" rows="4"></textarea>
        </div>
      </div> -->

    </form>
  </div>
</div>

<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">ผู้ร่วมสืบสวน</h4>
  </div>
  <div class="card-body">
    <form action="" class="form-control-line form-horizontal">

      <div class="row">
        <div class="col-lg-12">
          <a href="javaScript:void(0)">เพิ่มใหม่</a>
          <span>&nbsp; | &nbsp;</span>
          <a href="javaScript:void(0)">ลบรายการที่เลือก</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th>ลำดับที่</th>
                <th>
                  <input type="checkbox" class="check" id="square-checkbox-th" data-checkbox="checkbox_square-green">
                  <label for="square-checkbox-th"></label>
                </th>
                <th>ชื่อ - นามสกุล</th>
                <th>ตำแหน่ง</th>
                <th>สังกัด</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <input type="checkbox" class="check" id="square-checkbox-td-1" data-checkbox="checkbox_square-green">
                  <label for="square-checkbox-td-1"></label>
                </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">รายละเอียดที่เกิดขึ้นในการสืบสวน มีดังนี้</h4>
  </div>
  <div class="card-body">
    <form action="" class="form-control-line form-horizontal">
      <div class="row">
        <div class="col-lg-12 form-group form-line">
          <textarea name="" id="" class="form-control form-control-line" rows="5"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="form-group row" *ngIf="mode == 'u' || mode == 'c'">
  <div class="col-md-8 col-sm-4"></div>
  <div class="col-md-2 col-sm-4">
    <button type="submit" class="btn btn-block btn-success form-control text-white" (click)="save()">บันทึก</button>
  </div>
  <div class="col-md-2 col-sm-4">
    <button type="reset" class="btn btn-block btn-secondary form-control" (click)="cancel()">ยกเลิก</button>
  </div>
</div>

<app-action-setting *ngIf="mode == 'r' || mode == 'u'" (btnEdit)="toEdit()" (btnPrint)="toPrint()" (btnDelete)="toDelete()">
</app-action-setting>