<app-horizontal-timeline></app-horizontal-timeline>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="m-b-0 text-white">ผู้รับแจ้ง</h4>
    </div>
    <div class="card-body">

        <form class="form-control-line form-horizontal">
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">เลขที่บันทึกแจ้งความ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">เขียนที่หน่วยงาน :
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">วันที่รับแจ้งความ :
                    <span class="text-danger">*</span>
                </label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-line" id="" placeholder="วว/ดด/ปปปป" appDatepicker>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="mdi mdi-calendar"></i>
                        </span>
                    </div>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" id="" class="form-control form-control-line">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-md-4 control-label text-right">ใบแจ้งความนำจับฉบับนี้ใช้ได้ภายในกำหนด :</label>
                <div class="col-lg-2 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">สิ้นสุดวันที่ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ผู้รับแจ้งความนำจับ :
                    <span class="text-danger">*</span>
                </label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" name="" id="" class="form-control form-control-line">
                    <button type="button" class="btn btn-xs btn-rounded btn-success" data-toggle="modal" data-target="#exampleModalLong">
                        &nbsp;&nbsp;
                        <i class="ti-more-alt"></i>
                        &nbsp;&nbsp;
                    </button>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ตำแหน่ง :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">สังกัด :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <app-staff></app-staff>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="m-b-0 text-white">รายละเอียดผู้แจ้งความ</h4>
    </div>
    <div class="card-body">

        <form class="form-control-line form-horizontal">
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ชื่อผู้แจ้งความ :
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" class="typeahead form-control form-control-line">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ชื่อ(นามแฝง) ผู้แจ้ง :
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">อายุผู้แจ้ง :</label>
                <div class="form-group input-group form-line col-lg-2 col-md-7">
                    <input type="text" class="form-control form-control-line">
                    <span>ปี</span>
                </div>

            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">บ้านเลขที่ :</label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-line">
                    <label for="">&nbsp;หมู่ที่ : &nbsp;</label>
                    <input type="text" class="form-control form-control-line">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">อาคาร/สถานที่ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ห้อง :</label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-line">
                    <label for="">&nbsp;&nbsp; ชั้น : &nbsp;&nbsp;</label>
                    <input type="text" class="form-control form-control-line">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">&nbsp; ตรอก/ซอย : &nbsp;</label>
                <div class="col-lg-4 col-md-7 form-group form-line">
                    <input type="text" class="form-control form-control-line">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ถนน :</label>
                <div class="col-lg-4 col-md-7 form-group form-line">
                    <input type="text" class="form-control form-control-line">
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ตำบล/อำเภอ/จังหวัด :</label>
                <div class="col-lg-4 col-md-7 form-group form-line">
                    <select name="" id="" class="form-control form-control-line" appProvinces></select>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="m-b-0 text-white">รายละเอียดการกระทำความผิด</h4>
    </div>
    <div class="card-body">

        <form class="form-control-line form-horizontal">
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ผู้แจ้งความ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">บ้านเลขที่ :</label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-line">
                    <label for="">&nbsp;หมู่ที่ : &nbsp;</label>
                    <input type="text" class="form-control form-control-line">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">อาคาร/สถานที่ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" class="form-control form-control-line">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ห้อง :</label>
                <div class="form-group input-group form-line col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-line">
                    <label for="">&nbsp;&nbsp; ชั้น : &nbsp;&nbsp;</label>
                    <input type="text" class="form-control form-control-line">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label text-right">ตรอก/ซอย :</label>
                <div class="col-lg-4 col-md-7 form-group form-line">
                    <input type="text" class="form-control form-control-line">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ถนน :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ตำบล/อำเภอ/จังหวัด :</label>
                <div class="col-lg-4 col-md-7 form-group form-line">
                    <select name="" id="" class="form-control form-control-line" appProvinces></select>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ละติจูด :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label text-right">ลองติจูด :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group form-line">
                        <input type="text" name="" id="" class="form-control form-control-line">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label text-right">สินค้า :
                    <span class="text-danger">*</span>
                </label>
                <div class="form-group col-lg-10 col-md-8">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let item of good; let i=index;">
                            <input type="checkbox" class="check" id="{{item.value}}" data-checkbox="checkbox_square-green">
                            <label for="{{item.value}}">{{item.text}}</label>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="form-group row" *ngIf="mode == 'u' || mode == 'c'">
    <div class="col-md-8 col-sm-4"></div>
    <div class="col-md-2 col-sm-4 form-group">
        <button class="btn btn-warning waves-effect waves-light form-control" type="button" (click)="save()">
            <span class="btn-label pull-left">
                <i class="fa fa-save"></i>
            </span>บันทึก
        </button>
    </div>
    <div class="col-md-2 col-sm-4 form-group">
        <button class="btn btn-secondary waves-effect waves-light form-control" type="button" (click)="cancel()">
            <span class="btn-label pull-left">
                <i class="fa fa-close"></i>
            </span>ยกเลิก
        </button>
    </div>
</div>

<app-action-setting *ngIf="mode == 'r' || mode == 'u'" (btnEdit)="toEdit()" (btnPrint)="toPrint()" (btnDelete)="toDelete()">
</app-action-setting>