/* You can add global styles to this file, and also import other style files */

@import "assets/scss/datepicker.scss";

$fontSize: 14px;
body {
    font-size: $fontSize;

    input, select, textarea {
        font-size: $fontSize !important;
    }
}

.card {
    .card-body{
        .form-horizontal label{
            margin-top: 5px;
        }
        .form-group{
            margin-bottom: .75rem !important;
        }
        .form-control{
            min-height: unset !important;
            padding: .4rem .75rem .4rem 0 !important;
        }
        
    }
}