<div class="card card-outline-success m-t-40">
        <div class="card-header">
            <h4 class="m-b-0 text-white">ค้นหา</h4>
        </div>
        <div class="card-body">
            <form class="form-control-line form-horizontal">
                <div class="row">
                    <label for="" class="col-md-1 col-sm-2 control-label text-right">ค้นหา</label>
                    <div class="col-md-5 col-sm-10">
                        <div class="form-group form-line">
                            <input type="search" id="" class="form-control form-control-line" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-2 text-center form-group">
                        <a href="javaScript:void(0);" (click)="slideToggle(advanceSearch)">ค้นหาขั้นสูง</a>
                    </div>
                    <div class="col-md-2 form-group">
                        <button type="button" class="btn btn-block btn-success">
                            <i class="fa fa-search"></i>
                            ค้นหา</button>
                    </div>
                    <div class="col-md-2 form-group">
                        <button type="reset" class="btn btn-block btn-secondary">
                            <i class="fa fa-close"></i>
                            เคลียร์</button>
                    </div>
                </div>
    
                <br>
    
                <div style="display: none" #advanceSearch>
                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-3 control-label text-right">รหัสเชื่อชาติ :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                            <input type="text" id="" class="form-control form-control-line" placeholder="">
                        </div>
    
                        <label for="" class="col-lg-2 col-sm-3 control-label text-right">ชื่อเชื่อชาติ(TH) :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control form-control-line" placeholder="">
    
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-3 control-label text-right">สถานะการใช้งาน :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                            <input name="status" id="r1" type="radio" class="with-gap" />
                            <label for="r1"> ใช้งาน </label>
    
                            <input name="status" id="r2" type="radio" class="with-gap" />
                            <label for="r2"> ไม่ใช้งาน </label>
                        </div>
    
                        <label for="" class="col-lg-2 col-sm-3 control-label text-right">ชื่อเชื่อชาติ(EN) :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9 form-group">
                            <input type="text" id="" class="form-control form-control-line" placeholder="">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-8 col-sm-6"></div>
    
                        <div class="col-lg-2 col-sm-3 form-group">
                            <button class="btn btn-success btn-block waves-effect waves-light text-left" type="button">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>ตกลง</button>
                        </div>
                        <div class="col-lg-2 col-sm-3 form-group">
                            <button class="btn btn-secondary btn-block waves-effect waves-light text-left" type="button">
                                <span class="btn-label">
                                    <i class="fa fa-close"></i>
                                </span>ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </form>
    
    
        </div>
    
    </div>
    
    <div class="card">
        <div class="card-body">
    
            <div class="table-responsive">
                <table appDataTable class="dataTable table table-sm table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>รหัสเชื่อชาติ</th>
                            <th>ชื่อเชื่อชาติ(TH)</th>
                            <th>ชื่อเชื่อชาติ(EN)</th>
                            <th>วันที่เริ่มใช้งาน</th>
                            <th>สิ้นสุดวันที่</th>
                            <th>สถานะการใช้งาน</th>
                            <th>แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="gotoManage()">
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td class="text-center">
                                <i class="fa fa-check fa-lg text-success"></i>
                            </td>
                            <td>
                                <a href="javaScript:void(0);" (click)="gotoEdit(1)">
                                    <i class="fa fa-pencil fa-lg text-success"></i>
                                </a>
                                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                <a href="javaScript:void(0);" (click)="gotoDelete(1)">
                                    <i class="fa fa-trash fa-lg text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr (click)="gotoManage()">
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td class="text-center">
                                <i class="fa fa-close fa-lg text-danger"></i>
                            </td>
                            <td>
                                <a href="javaScript:void(0);" (click)="gotoEdit(1)">
                                    <i class="fa fa-pencil fa-lg text-success"></i>
                                </a>
                                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                <a href="javaScript:void(0);" (click)="gotoDelete(1)">
                                    <i class="fa fa-trash fa-lg text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <app-action-add (click)="createNew()"></app-action-add>