<section class="timeline">
    <div class="events-wrapper">
        <ol>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="javaScript:void(0);"></a>
                </div>
            </li>
            <li></li>
        </ol>
    </div>


    <div class="arrows">
        <button class="arrow arrow__prev disabled" disabled>
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow"> -->
        </button>
        <button class="arrow arrow__next">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow"> -->
        </button>
    </div>
</section>