/* You can add global styles to this file, and also import other style files */

/* google font */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "assets/styles/style.scss";

.navbar-brand {
    img{
        content: url('assets/images/logo-excise.png');
    }
}

.user-info {
    background: url('assets/styles/patterns/shattered.png');
}

.i-rotate{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}