<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="smallModalLabel">Modal title</h4>
    </div>
    <div class="modal-body">
      <p>ยืนยันการทำรายการหรือไม่?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
      <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
    </div>
  </div>
</div>